.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #e2ecf980;
  width: 300px;
  padding: 10px;
  height: 1200px; 
  position: fixed;
  left: 0;
  top: 0;
}

.h {
  margin: 36px 83px 64px 28px;
}
.p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9197b3;
  border-radius: 8px;
  padding: 13px 10px;
  transition: 0.3s;
}

.p:hover {
  color: #ffffff;
  background-color: #5932ea;
}
