.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #E2ECF980;
    width: 300px;
    padding: 10px;
    height: 1000px;
}

.h{
    margin: 36px 83px 64px 28px;
}
.p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9197B3;
    border-radius: 8px;
    padding: 13px 10px;
    transition: 0.3s;
}

.p:hover{
    color: #FFFFFF;
    background-color: #5932EA;
}